@model ViewModels._BaseViewModel

<footer id="footer" class="footer footer-1">
	<!-- Widget Section
	============================================= -->
	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-about">
					<div class="footer--widget-title">
						<h5>About Us</h5>
					</div>
					<div class="footer--widget-content">
						<p class="text-justify">
					@Model.FooterAbout	</p>

					</div>
				</div><!-- .col-md-3 end -->
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-recent">
					<div class="footer--widget-title">
						<h5>Recent Posts</h5>
					</div>
					<div class="footer--widget-content">
					@foreach (var blog in Model.FooterBlogs)
					{
						<div class="entry">
							<div class="entry--meta">@blog.CreationDateStr</div>
							<div class="entry--title">
								<a href="/blog/post/@blog.UrlParam">@blog.Title</a>
							</div>
						</div>
					}
					
					 
					</div>
				</div><!-- .col-md-3 end -->
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-newsletter">
					<div class="footer--widget-title">
						<h5>Stay Updated</h5>
					</div>
					<div class="footer--widget-content">
						<p>Don’t miss to follow us & subscribe to our new feeds, kindly fill the form below.</p>
						<form class="form-newsletter">
							<input type="email" name="email" class="form-control" placeholder="Subscribe Our Newsletter">
							<button type="submit"><i class="fa fa-long-arrow-right"></i></button>
						</form>
						<div class="clearfix"></div>
						@*<div class="social">
							<a class="share-facebook" href="#"><i class="fa fa-facebook"></i></a>
							<a class="share-twitter" href="#"><i class="fa fa-twitter"></i></a>
							<a class="share-instagram" href="#"><i class="fa fa-instagram"></i></a>
							<a class="share-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
						</div>*@
					</div>
				</div><!-- .col-md-3 end -->
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-about">
					<div class="footer--widget-title">

					</div>
					<div class="footer--widget-content">

						<img src="~/assets/images/logo/logo-light.png" />
						<ul class="list-unstyled mb-0 mt-30">
							<li><span>Call:</span> @Model.FooterPhone</li>
							<li><span>Email:</span>@Model.FooterEmail</li>
							@*<li><span>Address:</span>@Model.FooterAddress</li>*@
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer--bar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-6">
					<div class="footer--copyright">
						<span>&copy; 2021 SMB cloud solutions</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-6">
					<div class="footer--links pull-right pull-none-xs">
						<ul class="list-inline mb-0">
							<li><a href="/about">About</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">service</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>