@model ViewModels.BlogListViewModel
@{
		ViewBag.Title = "Blog";
		Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<section id="page-title" class="page-title bg-overlay bg-overlay-dark">
	<div class="bg-section">
		<img src="/assets/images/page-title/title-22.jpg" alt="Background" />
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="title title-8 text-center">
					<div class="title--content">
						<ol class="breadcrumb">
							<li><a href="/">Home</a></li>
							<li class="active">Blog</li>
						</ol>
						<div class="title--heading">
							<h1>SMB Blog</h1>
						</div>
						<div class="title--desc">
							<p>Follow our latest news and thoughts which focuses exclusively on cloud, OFFICE 365 , Azure, and also our latest work updates.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="blog" class="blog blog-grid">
	<div class="container">
		<div class="row">

		@foreach (var blog in Model.Blogs)
		{
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="/blog/post/@blog.UrlParam">
							<img src="@blog.ImageUrl" alt="@blog.Title" />
						</a>
					</div>
					<div class="entry--meta">
						<span>Oct 25, 2016</span>   /
						<span><a href="/blog/@blog.BlogGroup.UrlParam">@blog.BlogGroup.Title</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="/blog/post/@blog.UrlParam">@blog.Title</a></h4>
					</div>
					<div class="entry--content">
						@blog.Summery
					</div>
					<div class="entry--more">
						<a href="/blog/post/@blog.UrlParam">read more</a>
					</div>
				</div>
			</div> 
		}
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 clearfix mt-20 text--center">
				<ul class="pagination">
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>