@model IEnumerable<Models.User>

@{
ViewBag.Title = "user list";
    
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
                                  columns.Bound(model => model.Role.Title);
        columns.Bound(model => model.Password);
        columns.Bound(model => model.CellNum);
        columns.Bound(model => model.FullName);
        columns.Bound(model => model.Code);
		columns.Bound(model => model.AvatarImageUrl).Template(@<text><img src="@item.AvatarImageUrl" height="100px" /></text>);
        columns.Bound(model => model.Email);
        columns.Bound(model => model.IsActive);
        columns.Bound(model => model.CreationDate);
					columns.Bound(item => @item.Id).Title("Actions").Filterable(false).Groupable(false)
							.Template(@<text>
									@Html.ActionLink("edit", "Edit", new {id = @item.Id}, new {@class = "k-button"})
									@Html.ActionLink("delete", "Delete", new {id = @item.Id}, new {@class = "k-button"})
									</text>).Width(200);  
		})
		.ToolBar(toolbar =>
					{				
						toolbar.Custom().Action("Create","Users").Text("Add");                          
					}
		)         
		.DataSource(dataSource => dataSource
									.Server()
							
									.Model(model => model.Id(item => item.Id))
					)              
	)
