@model ViewModels.AboutViewModel
@{
		ViewBag.Title = "About SMB" + " |";
		ViewBag.Canonical = "https://smbcloudsolutions.com.au/about" ;
		Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}
<section id="page-title" class="page-title bg-overlay bg-overlay-dark">
	<div class="bg-section">
		<img src="/assets/images/page-title/title-9.jpg" alt="Background" />
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1 class="text--uppercase">About SMB</h1>
						</div>
						<div class="title--desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
				<!-- .title end -->
			</div>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- #page-title end -->

<section id="number1" class="number number-1 bg-white pb-100">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="heading heading-2 text--center mb-40">
					<p class="heading--subtitle">SMB CLOUD SOLUTIONS</p>
					<h2 class="heading--title">@Model.Section2Master.Title</h2>
					<div class="divider--line">
						<i class="divider divider--1"></i>
						<i class="divider divider--2"></i>
						<i class="divider divider--3"></i>
						<i class="divider divider--4"></i>
					</div>
					<p class="heading--desc">@Html.Raw(Model.Section2Master.Body)</p>
				</div>
			</div>
		</div>
		<div class="row">

			@{
					int i = 1;
					foreach (var detail in Model.Section2Details)
					{
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="number-panel">
									<div class="number--img">
										<img src="@detail.ImageUrl" alt="image">
									</div>
									<div class="number--content">
										<h3>
											<span>0 @i</span> @detail.Title
										</h3>
										<p>@detail.Summery</p>
									</div>
								</div>
							</div>
						i++;
					}
			}

		</div><!-- .row end -->
	</div><!-- .container end -->
</section>
<section id="banner2" class="banner banner-2 skills skills-2 pt-0 pb-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
				<div class="col-img  bg-overlay bg-overlay-theme">
					<div class="bg-section">
						<img src="/assets/images/banners/2.jpg" alt="Background" />
					</div>
					<div class="row mb-50 pt-100">
						@foreach (var textItem in Model.Section3Features.Take(2))
						{
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="feature-panel">
										<div class="feature--icon">
											<i class="lnr lnr-rocket"></i>
										</div>
										<div class="feature--content">
											<h3>@textItem.Title</h3>
											<p>@textItem.Summery</p>
										</div>
									</div>
								</div>

						}

					</div><!-- .row end -->
					<div class="row">

						@foreach (var textItem in Model.Section3Features.Skip(2).Take(2))
						{
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="feature-panel">
										<div class="feature--icon">
											<i class="lnr lnr-rocket"></i>
										</div>
										<div class="feature--content">
											<h3>@textItem.Title</h3>
											<p>@textItem.Summery</p>
										</div>
									</div>
								</div>

						}


					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100">
				<div class="heading heading-8 mb-50">
					<h2 class="heading--title">@Html.Raw(Model.Section3SkillMaster.SummeryWithBr)</h2>
					<p class="heading--desc mb-20">@Html.Raw(Model.Section3SkillMaster.Body)</p>
					<div class="divider--line">
						<i class="divider divider--1"></i>
						<i class="divider divider--2"></i>
						<i class="divider divider--3"></i>
						<i class="divider divider--4"></i>
					</div>
				</div><!-- .heading end -->
				<!-- progress 1 -->

				@foreach (var skillDetail in Model.Section3SkillDetails)
				{


						<div class="progressbar">
							<div class="progress-title">
								<span class="title">
									@skillDetail.Title
							</span>
							<span class="value">@skillDetail.Summery %</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="@skillDetail.Summery" aria-valuemin="0" aria-valuemax="100">
							</div>
						</div>
					</div>


				}
			</div>
		</div>
	</div>
</section>



<section id="clients2" class="clients clients-2 bg-white">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="heading heading-2 text--center mb-60">
					<p class="heading--subtitle">We Are Trusted</p>
					<h2 class="heading--title">Our Beloved Clients</h2>
					<div class="divider--line">
						<i class="divider divider--1"></i>
						<i class="divider divider--2"></i>
						<i class="divider divider--3"></i>
						<i class="divider divider--4"></i>
					</div>
					<p class="heading--desc pr-30 pl-30">We've been lucky to collaborate with a long list of customers, located in and out of the country. Thanks to them we have grown as professionals.</p>
				</div>
			</div><!-- .col-md-8 end -->
		</div><!-- .row end -->
		<div class="row row-clients">
@foreach (var client in Model.Clients)
{
	
			<div class="col-xs-12 col-sm-6 col-md-3 client">
				<img class="center-block" src="@client.ImageUrl" alt="@client.Title" title="@client.Title">
			</div>

}


		</div>
	</div>
</section>
 

<section id="testimonial3" class="testimonial testimonial-2 testimonial-3 bg-overlay bg-overlay-dark bg-parallex">
	<div class="bg-section">
		<img src="/assets/images/background/bg-5.jpg" alt="Background" />
	</div>
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="heading heading-5 mb-60 text--center">
					<p class="heading--subtitle text-white">Testimonials</p>
					<h2 class="heading--title text-white">Our Happy Clients</h2>
					<div class="divider--line">
						<i class="divider divider--1"></i>
						<i class="divider divider--2"></i>
						<i class="divider divider--3"></i>
						<i class="divider divider--4"></i>
					</div>
				</div>
			</div><!-- .col-md-8 end -->
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div id="testimonial-carousel3" class="carousel-dots">
					@foreach (var testimonial in Model.Testimonials)
					{
							
						<div class="testimonial-panel">
							<div class="testimonial--meta-img">
								<img src="@testimonial.ImageUrl" alt="Testimonial Author">
							</div>
							<div class="testimonial--body">
								<p>@testimonial.Comment</p>
							</div><!-- .testimonial-body end -->
							<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
							<div class="testimonial--meta">
								<h4>@testimonial.FullName</h4>
								<p>@testimonial.Post</p>
							</div>
						</div>
					}
					 
				</div>
			</div>
		</div>
	</div>
</section>
<section id="team2" class="team team-2 bg-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="heading heading-2 text-center mb-50">
					<p class="heading--subtitle">Creative & Talented</p>
					<h2 class="heading--title">Meet The Team</h2>
					<div class="divider--line">
						<i class="divider divider--1"></i>
						<i class="divider divider--2"></i>
						<i class="divider divider--3"></i>
						<i class="divider divider--4"></i>
					</div>
				</div><!-- .heading end -->
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div id="team-carousel" class="carousel-dots">
							
							
					@foreach (var team in Model.Teams)
					{
						<div class="member">
							<div class="member-img">
								<img src="@team.ImageUrl" alt="@team.FullName" />
								<div class="member-overlay">
									<div class="member-social">
										<div class=" pos-vertical-center">
											<a href="@team.Facebook"><i class="fa fa-facebook"></i></a>
											<a href="@team.Twitter"><i class="fa fa-twitter"></i></a>
											<a href="@team.Instagram"><i class="fa fa-instagram"></i></a>
											<a href="@team.Linkedin"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
								</div><!-- .memebr-ovelay end -->
							</div><!-- .member-img end -->
							<div class="member-info">
								<h5>@team.FullName</h5>
								<h6>@team.Post</h6>
							</div>
						</div>
					}
						
			
							

				</div>
			</div>
		</div>
	</div>
</section>